.contents{
    background-image: url('/public/imgs/contactus-bg.jpg');
    background-size: cover}

/* .heading1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
} */